<div class="main-container">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
          <article>
            <div class="article__title text-center">
              <h1 class="h2">
                <%= @blog_post.title %>
              </h1>
              <span>
                <%=l @blog_post.created_at, format: :event_day %>
              </span>
            </div>
              <!--end article title-->
            <div class="article__body">

              <%= image_tag @blog_post.picture.url %>

              <%= @blog_post.content.html_safe %>
            </div>
<!--             <div class="article__share text-center">
                <a class="btn bg--facebook btn--icon" href="#">
                    <span class="btn__text">
                        <i class="socicon socicon-facebook"></i>
                        Share on Facebook
                    </span>
                </a>
                <a class="btn bg--twitter btn--icon" href="#">
                    <span class="btn__text">
                        <i class="socicon socicon-twitter"></i>
                        Share on Twitter
                    </span>
                </a>
            </div> -->
          </article>
          <!--end item-->
        </div>
      </div>
      <!--end of row-->
    </div>
  </section>
</div>
