<div class="monster-container">
  <div class="monster"></div>
  <div class="monster-hair"></div>
  <div class="monster-face">
    <div class="monster-eyes">
      <div class="monster-iris"></div>
    </div>
  </div>
  <div class="monster-mouth"></div>
  <div class="monster-drool"></div>
  <div class="monster-teeth">
    <div></div>
    <div></div>
  </div>
  <div class="monster-text"></div>
</div>
