<div class="person-container">
  <div class="person-group">
    <div class="person-hair"></div>
    <div class="person-ear"></div>
    <div class="person-ear right"></div>
    <div class="person-fringe"></div>
    <div class="person-face"></div>
    <div class="person-eye"></div>
    <div class="person-nose"></div>
    <div class="person-mouth">
      <div class="person-tongue"></div>
    </div>
    <div class="person-neck"></div>
    <div class="person-body">

    </div>
    <div class="person-cape"></div>
  </div>
</div>
