<div class="main-container">
    <section class="space--sm">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="">
                        <div class="row">
                                <% @goals.each do |goal| %>
                                    <article>
                                        <div class="article__body">
                                            <span><%= goal.planned_end_at %> </span>
                                            <span><%= goal.status %> </span>
                                            <span>
                                                <a href="#"><%= goal.activity_area %></a>
                                            </span>
                                            <p>
                                                <%= goal.description %>
                                            </p>
                                            <span>
                                                <a href="#">завершить</a>
                                            </span>
                                            <span>
                                                <a href="#"> отменить</a>
                                            </span>
                                        </div>
                                    </article>
                                <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

