<footer class="footer-3 text-center-xs space--xs ">
    <div class="container">
        <!--end of row-->
        <div class="row">
            <div class="col-sm-12 text-left text-center-xs">
                <span class="type--fine-print">&copy;
                    <span class="update-year"></span> GoalGame Inc.</span>
                <a class="type--fine-print" href="#">ИП Сафин Ильдар Рустамович.</a>
                <a class="type--fine-print" href="#">ОГРНИП 316169000123503</a>
                <a class="type--fine-print" href="/oferta.pdf">Договор Оферты</a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>
