<footer class="footer-3 text-center-xs space--xs ">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <%= link_to root_url do %>
                  <%= image_tag "goalgame_logo.svg", class: "logo" %>
                <% end %>
                <ul class="list-inline list--hover">
                    <li>
                        <a href="#">
                            <span class="type--fine-print">Get Started</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="type--fine-print">safild94@gmail.com</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <p class="type--fine-print">
                    Достигайте целей в игровой форме!
                </p>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-12 text-left text-center-xs">
                <span class="type--fine-print">&copy;
                    <span class="update-year"></span> GoalGame Inc.</span>
                <a class="type--fine-print" href="#">ИП Сафин Ильдар Рустамович.</a>
                <a class="type--fine-print" href="#">ОГРНИП 316169000123503</a>
                <a class="type--fine-print" href="/oferta.pdf">Договор Оферты</a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>
