<footer class="footer-3 text-center-xs space--xs ">
    <div class="container">
        <!--end of row-->
        <div class="row">
            <div class="col-sm-12 text-left text-center-xs">
                <span class="type--fine-print">&copy;
                <span class="update-year"></span> GoalGame 2020.</span>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>
